/* opacity:to visible or hidden  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* this is for git  */
/* learn git  */
#section1 {
  width: 100vw;
  height: 700px;
}

.scroll_image {
  width: 100vw;
  height: 700px;
}

.navigate {
  height: 60px;
  width: 100vw;
  margin: 5px;
  padding: 12px;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #4b4545d2;
}

.navitem {
  margin: 6px;
  padding: 6px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  text-decoration: none;
}

.navitem:hover {
  text-decoration: underline;
  font-size: 20px;
}

.buttons {
  margin-left: 40px;
  display: flex;
  gap: 12px;
}

.button {
  color: white;
  font-size: 20px;
  height: 45px;
  width: 150px;
  margin: 3px;
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.button:hover {
  transform: scale(1.1);
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 650px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.148);
}

#sec2_head {
  margin: 5px;
  padding: 5px;
  font-size: 80px;
  color: #4b4545d2;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: bolder;
}

#about {
  background-color: #ffffffda;
}

#inner_sec2_body {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

#sec2_body {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* #section3 {
  width: 100vw;
  height: 900px;
  background-color: white;
  background-image: url(textured_bg.jpg);
}

#sec3_head {
  padding: 10px;
  margin: 20px;
  font-size: 50px;
  color: black;
  text-align: center;
}

#sec3_body {
  display: flex;
   overflow: scroll;
  margin: 5px;
  padding: 5px;
}

.packet {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1200px;
  height: 600px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 300px;
  column-gap: 0px;
  row-gap: 0px;
  place-self: center;
}

.image {
  position: relative;
  width: 400px;
  height: 300px;
  transition-property: transform;
  transition-timing-function: linear;
}

.images {
  position: absolute;
  width: 400px;
  height: 300px;
}

.image:hover {
  border: 3px solid white;
  transform: scaleX(1.2) scaleZ(1.2) scaleY(1.2);
  
}

.images {
  border-width: 3px;
  border-color: white;
  border-style: groove;
}

.on_images {
  position: absolute;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #8080806d;
  color: white;
  font-size: 25px;
  opacity: 0;
}

.on_images:hover {
  position: absolute;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #8080806d;
  color: white;
  font-size: 25px;

  opacity: 1;
}  */

#section4 {
  width: 100vw;
  height: 380px;
  background-color: #4b454582;
}

#sec4_head {
  margin: 20px;
  padding: 10px;
  font-size: 60px;
  color: black;
  font-family: "Amatic SC", sans-serif;
  font-weight: 900;
}
#job_button {
  color: black;
  font-size: 20px;
  height: 45px;
  width: 150px;
  margin: 3px;
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

#job_button:hover {
  transform: scale(1.1);
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 30px;
  width: 150px;
  border-style: solid;
}

#subs_button {
  color: black;
  font-family: "Bebas Neue", sans-serif;
}
.col2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sec4_body {
  margin: 20px;
  padding: 23px;
  color: black;
  /* color: white; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  display: flex;
  align-items: start;
  text-decoration: none;
  gap: 200px;
}

.anc_ {
  color: black;
  text-decoration: none;
}

.anc_:hover {
  font-size: 28px;
}

.cpr {
  color: black;
  font-weight: bolder;
}
